/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    background-color: #020659;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    width: 375px;
    margin: 0 auto;
    background-color: #ffffff;
}

header{
    background: linear-gradient(0.25turn, #030ABC,#000);
    color: #fff;
    padding-top:23px;
    background-color: #000;
    padding-left: 20px;
    padding-right:20px;
    clear: both;
}
h1{
    font-weight: bold;
    font-size: 1.25em;
    line-height: 2em;
}
h1, p{
    padding-bottom:1em;
}
nav h2{
    font-size: 0;
    padding: 0;
}
 
h2, h3{
    font-weight: bold;
    text-transform: uppercase;
}
nav{
    position:fixed;
    top:0;
}
ul {
    max-height: 0;
    overflow: hidden;
  }
audio::-webkit-media-controls-mute-button {
    background-color:#fff;
    border-radius:50%;
}
audio::-webkit-media-controls-play-button {
    background-color:#fff;
    border-radius:50%;
}
audio::-webkit-media-controls-enclosure {
    background-color:rgba(255, 255, 255, .5)
}
#trendy {
    display: flex;
    overflow-x: scroll;
    padding-top: 100px;
}
#trendy h2{
    display: flex;
    position: absolute;
    width: 100%;
    padding-bottom: 50px;
    color: #590242;
}
#trendy audio{
    position:relative;
}
#trendy section{
    display: grid;
    flex-direction: column;
    overflow:visible;
}
#trendy img{
    order:-1;
}

#trendy dl{
    display: flex;
    font-weight: 100;
}

#playlists{
    display: flex;
    background-color:#0D8DFB;
    overflow-x: scroll;
    align-items: left;
    justify-content: left;
}
#playlists h2{
    color: #fff;
}
#playlists h3{
    color: #fff;
}
#playlists img{
    position: relative;
    width: 150px;
    height: 150px;
}
#playlists p{
    display: flex;
    flex-direction: column;
    color: #fff;
  }

#playlists, #curated{
    display: flex;
   
}
#curated{
    display: flex;
    overflow-x: scroll;
    background-color:#020873;
}
#curated img{
    position: relative;
    width: 150px;
    height: 150px;
}
#curated h2{
    color: #fff;
}
#curated h3{
    color: #fff;
    font-size: small;
}
#curated p{
    display: flex;
    flex-direction: column;
    color: #fff;

}
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }

}





